* {
  margin: 0px;
  padding: 0px;
}
#container {
  padding: 10px;
  position: relative;
  top: 60px;
  border-radius: 30px;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  opacity: 0;
  transition: 0.5s;
}
@font-face {
  font-family: "krosa";
  src: url("../fonts/KRASAR-REGULAR.OTF");
}
@font-face {
  font-family: "khmer os";
  src: url("../fonts/Khmer\ OS\ Content-Kh\ Auto.ttf");
}
h1 {
  color: darkgreen;
  font-family: "krosa";
  margin-top: 30px;
  margin-bottom: 25px;
}
#input-container {
  margin-bottom: 20px;
  margin-right: 62px;
}
input {
  font-family: "krosa";
  padding: 6px 23px;
  border-radius: 3px;
  border: 1px solid gray;
  font-size: 15px;
  margin-right: 10px;
}
input:focus {
  border-color: blue;
  outline: 0;
}
label {
  font-family: "krosa";
}
button {
  padding: 8px 20px;
  border: none;
  background-color: green;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-family: "krosa";
}
button:hover {
  background-color: brown;
}
table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  margin-top: 40px;
  padding: 9px 12px;
}
th,
td {
  text-align: left;
  padding-left: 37px;
  padding: 10px;
  background-color: green;
  color: white;
  font-family: "krosa";
  border-bottom: 2px solid gray;
  border: 1px solid gray;
}
td {
  text-align: left;
  background-color: rgb(235, 239, 235);
  color: rgb(11, 2, 2);
}
#update-container {
  display: none;
  margin-top: 20px;
  margin-right: 65px;
  position: relative;
  bottom: 30px;
}
#add-btn {
  padding: 8px 20px;
  font-size: 13px;
}
#update-btn {
  background-color: blue;
  padding: 7px 7px;
}
#cancel-btn {
  background-color: red;
  padding: 7px 7px;
}
#update-btn:hover {
  background-color: rgb(129, 92, 231);
  color: black;
}
#cancel-btn:hover {
  background-color: rgb(220, 106, 106);
  color: black;
}
.edit-btn {
  background-color: blue;
  padding: 7px 17px;
}
.delete-btn {
  background-color: red;
  padding: 7px 10px;
  margin-left: 10px;
}
.khmer-id {
  font-family: "khmer os";
}
.show-popup {
  position: absolute;
  right: 5%;
  top: 13%;
}
#container.show {
  opacity: 1;
}
.swict-popup {
  position: absolute;
  right: 9%;
  top: 13%;
}

#btn-show {
  height: 37px;
  width: 85px;
}
